{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuackSend</title>
    <link rel="icon" type="image/png" href="/media/duck.png">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
</head>
<body>

{% include 'publications/includes/top.html' %}

<div class="container">
    {% block content %}
    {% endblock %}

    {% include 'publications/includes/bottom.html' %}
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</body>
</html>