{% extends 'publications/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="mb-4">
                {% if comment.pk %}
                    Редактировать комментарий
                {% else %}
                    Новый комментарий
                {% endif %}
            </h4>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.body }}
                <button type="submit" class="btn btn-success mt-2">Сохранить</button>
                <a href="{% url 'publications:publication-detail' publication.pk %}"
                   class="btn btn-secondary mt-2 ms-2">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
