{% extends 'publications/base.html' %}

{% block content %}
    <div class="container mt-5 mb-5">
        <form method="post" enctype="multipart/form-data" class="mb-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2>Форма публикации</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Опубликовать
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}